<h1><%= @user.name %>'s Dashboard</h1>
<a href="#" class="sp_notify_prompt">Activate notifications</a>

<ul>

  <div class="waterBottle">
    <div class="water">
    </div>
  </div>

<!-- <li class="water-bottle">
    <div class="cap">
        <div class="cap-top">
        </div>
        <div class="cap-seal">
        </div>
    </div>
   <div class="bottle">
        <div class="water-empty"> </div>
    </div>
</li>
      <li class="water-bottle">
    <div class="cap">
        <div class="cap-top">
        </div>
        <div class="cap-seal">
        </div>
    </div>
   <div class="bottle">
        <div class="water-low"> </div>
    </div>
</li>
<li class="water-bottle">
    <div class="cap">
        <div class="cap-top">
        </div>
        <div class="cap-seal">
        </div>
    </div>
   <div class="bottle">
        <div class="water-medium"> </div>
    </div>
</li>

    <li class="water-bottle">
    <div class="cap">
        <div class="cap-top">
        </div>
        <div class="cap-seal">
        </div>
    </div>
   <div class="bottle">
        <div class="water-full"> </div>
    </div>
</li>
</ul> -->
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
