// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3/animation";
@import "compass/css3/transform";

$waveWidth:998px;

@include keyframes(waves){
  0%{
    left:0;
  }
  100%{
    left:$waveWidth * -1;
  }
}


body{
  background:#e6e6e5;
  overflow:hidden;
}


.waves{
  position: fixed;
  bottom: 0;
  left: 0;
  width: $waveWidth * 5;
  z-index:0;
  opacity:0.75;
  .wave{
    position:absolute;
    width:100%;
    height:300px;
    background-image:url('../img/wave.png');
    background-repeat:repeat-x;
    &.bottom-wave{
      @include animation(waves 17s infinite linear);
      bottom:-90px;
    }
    &.middle-wave{
      @include animation(waves 22s infinite linear);
      bottom:100px;
      margin-left:$waveWidth * -0.3;
    }
    &.top-wave{
      @include animation(waves 27s infinite linear);
      bottom:300px;
      margin-left:$waveWidth * -0.6;
    }
  }
}
.waterBottle{
  background: gray;
  width: 400px;
  height: 700px;
  border-radius:28px 28px 10px 10px;
}
// body { margin:10% 10%; }
// li.water-bottle { float:left;margin-right:15px;}
// ul { list-style-type:inline;
// text-decoration: none;}
// .bottle { background: #ddd; width:100px;border-radius:30px 30px 6px 6px; height:200px; padding:6px;box-shadow: 3px 3px 3px #efefef;margin-bottom:4px;}
// .bottle:hover { background: #eee;box-shadow: 2px  2px 2px #efefef;}
// .cap { background: #ddd; margin:0 25px;width:60px;border-radius:8px 8px 10px  12px; height:35px;border-top:1px solid #ddd; border-bottom:2px dotted #efefef;}
// .cap-top { background:#ededed; height:6px; border-radius:10px 10px 0 0; }
// .cap-seal { margin-top:20px;background:#ccc; height:6px; border-radius: 0 0 10px 10px; }
//
//
// .water-full { background: lightblue ;width:100px;margin-top:10px;height:190px; z-index:1;border-radius:28px 28px 10px 10px;}
// .water-medium { background: lightblue; width:100px;height:120px;margin-top:80px; z-index:1;border-radius:28px 28px 10px 10px;}
// .water-low { background: lightblue ;width:100px;height:75px; margin-top:125px;z-index:1;border-radius:28px 28px 10px 10px;}
// .water-empty { background: lightblue ;width:100px;height:15px; margin-top:185px;z-index:1;border-radius:28px 28px 10px 10px;}
